.blog-pre {
  margin-bottom: 3em;
  position: relative;
}
.code-copy-btn {
  color: grey;
  position: absolute;
  right: 10px;
  top: -2px;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}
.code-copy-btn:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
